@import url(https://fonts.googleapis.com/css?family=Manrope:bold,semibold,medium,extrabold,light);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    float: none;
}

@font-face {
    font-family: CommitMono;
    src: url("/fonts/CommitMono-400-Regular.otf") format("opentype");
}

@font-face {
    font-family: CommitMono;
    font-weight: bold;
    src: url("/fonts/CommitMono-700-Regular.otf") format("opentype");
}